* {
  margin: 0;
}

















/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */



















































/* и элемента с модификатором вида ключ-значение */



.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 1;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
}



.footer__columns {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  margin: 0 auto;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  list-style-type: none;
  padding-left: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}







.cards__item {
  width: 240px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.cards__item:nth-last-of-type(3) {
  margin-right: 0;
}

.cards__image {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 0 auto 43px;
}

.cards__title {
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.cards__description {
  text-align: center;
  margin-top: 16px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}



.video__iframes {
  position: relative;
  bottom: -50px;
  display: flex;
  justify-content: center;
}

.video__iframe {
  width: 515px;
  height: 316px;
}

.video__iframe:first-of-type {
  margin-right: 20px;
}





.khan__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.khan__author {
  width: 100%;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  width: 100%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin: 50px auto 36px 0;
}

.khan__quote-author {
  width: 100%;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  width: 100%;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 10px auto 68px 0;
}

.khan__book-container {
  display: flex;
  width: 100%;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
}

.khan__buy-link {
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}



.resources__logo-zone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
  margin-top: 80px;
  margin-bottom: 217px;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.resources__logo:hover {
  opacity: .4;
  transition: opacity .2s linear;
}

.header__subtitle-link:hover {
  opacity: .4;
  transition: opacity .2s linear;
}

.feynman__link:hover {
  opacity: .4;
  transition: opacity .2s linear;
}

.khan__buy-link:hover {
  opacity: .4;
  transition: opacity .2s linear;
}

.footer__column-link:hover {
  opacity: .4;
  transition: opacity .2s linear;
}
