@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}


* {
  margin: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;

  overflow: hidden;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  position: relative;
  width: 730px;
  left: 64px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__subtitle-link {
  text-decoration: none;
  color: #2f80ed;
  z-index: 2;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 765px;
  height: 608px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.content {
  display: flex;
  flex-direction: column;
}

.description {
  background-color: white;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  color: #2f80ed;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin-top: 20px;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.feynman {
  min-height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  z-index: 0;
  padding-top: 100px;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.feynman__title {
  margin-top: 100px;
  text-align: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 2;
}

.feynman__subtitle {
  margin-top: 70px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  z-index: 2;
}

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 2;
}

.table_theme-dark {
  z-index: 2;
}


/* и элемента с модификатором вида ключ-значение */

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 1;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  color: white;
}

.footer__columns {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  margin: 0 auto;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  list-style-type: none;
  padding-left: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.rotation {
  animation: rotation 20s infinite linear;
}

.techniques {
  display: flex;
  flex-direction: column;
  padding: 100px 0 0;
  align-items: center;
}

.cards {
  width: 920px;
  display: flex;
  flex-wrap: wrap;

}

.cards__item {
  width: 240px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}

.cards__item:nth-last-of-type(3) {
  margin-right: 0;
}

.cards__image {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 60px 43px 40px 40px;
}

.cards__title {
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.oakley {
  padding-top: 160px;
  background-color: #f2f2f2;
}

.cards__description {
  margin-top: 16px;
  margin-bottom: 60px;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0;
}

.video__iframes {
  position: relative;
  bottom: -50px;
  display: flex;
  justify-content: center;
}

.video__iframe {
  width: 515px;
  height: 316px;
}

.video__iframe:first-of-type {
  margin-right: 20px;
}

.oakley {
  padding-top: 160px;
  padding-bottom: 0;
}

.khan {
  padding-top: 105px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

.khan__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.khan__author {
  width: 100%;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  width: 100%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin: 50px auto 36px 0;
}

.khan__quote-author {
  width: 100%;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  width: 100%;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 10px auto 68px 0;
}

.khan__book-container {
  display: flex;
  width: 100%;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
}

.khan__buy-link {
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0;
}

.resources__logo-zone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
  margin-top: 80px;
  margin-bottom: 217px;
}

.resources__logo {
  width: 270px;
  height: 38px;
}
